<header id="user_panel"></header>

<div class="container">
  <div id="sprintContainer" class="alert alert-info">
  </div>

  <form id="daysContainer" class="form-horizontal" method="POST" action="http://localhost:3000/api/v1/sprints/3/daily_rations">
  </form>
</div>
