<div id="user_panel"></div>

<div class="container">
  <div id="sprint" class="alert alert-info">
  </div>

  <form id="order" class="form-horizontal order" role="form">
    <div id="days"></div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
