<div id="sprint" class="alert alert-info">
</div>

<form id="order" class="form-horizontal order" role="form">
  <div id="days"></div>
  <button type="button" class="btn btn-default">Submit</button>
</form>
