<nav class="navbar navbar-default">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><p class="navbar-text">Hello, {{ name }}.</p></li>
        <li><p class="navbar-btn">
          <button class="btn btn-default logout">Logout</button>
        </p></li>
      </ul>
    </div>
  </div>
</nav>
