<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><p class="navbar-text">Hello, {{ name }}.</p></li>
          <li><p class="navbar-btn">
            <button class="btn btn-default logout">Logout</button>
          </p></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
